.Headline {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3em;
  }

  color: blue;
  &--L1 {
    border: 3px solid red;
  }
  &--L2 {
    border: 3px solid green;
  }
}
