@import '../../styles/variables';
@import '../../styles/breakpoints';

.Navbar {
  font-family: Lato, sans-serif;
  height: 50px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  nav {
    background: inherit;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0 50px;

    ul {
      display: flex;
      align-items: center;
      li {
        display: inline-block;
        margin: 0 20px;
        border-bottom: 5px solid inherit;
        a {
          color: black;
          transition-duration: 250ms;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }

  &--dark {
    background-color: black;
    nav ul li a {
      color: white;
    }
  }

  .BurgerButton {
    display: none;
    transition-duration: 250ms;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    span {
      width: 80%;
      display: block;
      height: 3px;
      background-color: $lightColor;
      margin: 8px 0;
      border-radius: 3px;
    }
    &:active,
    &:hover {
      span {
        background: $focusColor;
      }
    }
    &--mobile-is-open {
      position: relative;
      span {
        position: absolute;
        top: 15px;
        right: 10px;
        bottom: 0;
      }

      span:nth-child(2) {
        display: none;
      }
      span:first-child {
        transform: rotate(45deg);
      }
      span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .NavigationLinksContainer {
    display: flex;
  }

  @include media('<=tablet') {
    .BurgerButton {
      display: block;
      flex-direction: column;
      z-index: 2;
    }

    // Hide the nav links
    .NavigationLinksContainer {
      display: none;
      &--mobile-is-open {
        display: flex;
        flex-direction: row;
        background: rgba(0, 0, 0, 0.95);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        ul {
          width: 100%;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          li {
            width: 100%;
            text-align: center;
            font-size: 2rem;
            &:first-child {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

.NavbarItem {
  &--active {
    a {
      color: $focusColor !important;
    }
  }
}
