@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
}
